<!DOCTYPE HTML>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Index</title>
</head>

<body>
    <h1>
        Look at all the restaurants!
    </h1>
    <h2>
        {% for restaurant in restaurants %}
        {{restaurant.id}}
        {{restaurant.name}}
        <br/>
        {% endfor %}
    </h2>
    <!-- <a href="/info"> Info </a> -->
</body>
</html>
